.home-btn {
  display: flex;
  width: 150px;
  height: 45px;
  border: 3px solid blue;
  font-size: 35px;
  border-radius: 70px;
  cursor: pointer;
  align-items: center;
}

.btnIsOn {
  display: flex;
  padding-left: 5px;
  color: black;
}

.btnIsOff {
  display: flex;
  padding-left: 105px;
  color: orange;
}

.home-btn,
.btnIsOn,
.btnIsOff {
  transition: padding-left 0.5s ease-in;
}
